@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-gray-500 text-xs leading-6 text-pretty;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Avoids splitting in different pages */
article {
  break-inside: avoid;
}

/* Styles for printing */
.print {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  astro-dev-toolbar {
    display: none !important;
  }
}
