@import "tailwindcss";

:root {
  --gray-100: #fdfdfc;
  --gray-200: #f9f9f8;
  --gray-300: #f1f0ef;
  --gray-400: #e9e8e6;
  --gray-500: #e2e1de;
  --gray-600: #dad9d6;
  --gray-700: #cfceca;
  --gray-800: #bcbbb5;
  --gray-900: #8d8d86;
  --gray-1000: #82827c;
  --gray-1100: #63635e;
  --gray-1200: #21201c;
  --gray-alpha-100: #00000003;
  --gray-alpha-200: #00000006;
  --gray-alpha-300: #0000000f;
  --gray-alpha-400: #00000017;
  --gray-alpha-500: #0000001f;
  --gray-alpha-600: #00000026;
  --gray-alpha-700: #00000031;
  --gray-alpha-800: #00000044;
  --gray-alpha-900: #00000072;
  --gray-alpha-1000: #0000007c;
  --gray-alpha-1100: #0000009b;
  --gray-alpha-1200: #000000df;
}

@theme inline {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --color-foreground: var(--gray-1200);
  --color-muted-foreground: var(--gray-1100);
}

@layer base {
  p {
    @apply text-muted-foreground text-sm text-pretty;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Avoids splitting in different pages */
  article {
    break-inside: avoid;
  }

  @media print {
    astro-dev-toolbar {
      display: none !important;
    }
  }
}
