@tailwind base;
@tailwind components;
@tailwind utilities;

.print {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  astro-dev-toolbar {
    display: none !important;
  }

  article {
    break-inside: avoid;
  }
}
