---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout title="Victor Garcia - CV">
  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
