---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Volunteering from "@/components/sections/Volunteering.astro";
import Education from "@/components/sections/Education.astro";
---

<Layout title="Victor Garcia - CV">
  <main class="p-4 mx-auto w-full md:p-16">
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Volunteering />
  </main>
  <KeyboardManager />
</Layout>
