---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout title="Victor Garcia - CV">
  <main>
    <Hero />
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
