---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout title="Victor Garcia - CV">
  <main class="p-4 mx-auto w-full md:p-16">
    <Hero />
    <About />
    <Experience />
    <Projects />
  </main>
  <KeyboardManager />
</Layout>
