---
const { title } = Astro.props;
---

<section class="mx-auto mb-8 flex min-h-0 max-w-2xl flex-col gap-y-3 md:mb-12">
  {title && <h2 class="text-lg font-medium">{title}</h2>}
  <slot />
</section>
