---
import Supa from "@/layouts/Supa.astro";
import Sidebar from "@/components/Sidebar.astro";
---

<Supa
  ><main>
    <Sidebar /><div class="content">content</div>
  </main></Supa
>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
    display: flex;
    max-width: 1024px;
  }

  .content {
    border: 1px solid black;
    flex: 1 0 auto;
  }

  @media print {
    main {
      padding: 0;
      max-width: none;
    }
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
