---
import { basics } from "@cv";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { image, summary } = basics;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={summary} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href={image} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --gray-lightest-2: #f7f9fc;
    --gray-lightest-1: #e2e6ee;
    --gray-light: #555;
    --gray-dark: #47516b;
    --gray-default: #79819a;
    --gray-700: #222;
    --gray-800: #111;
  }
</style>
